<section class="section-a mt-8">
	<div class="section-a-1 mb-6">
		<h1>A Simple Bookmark Manager</h1>
		<p class="py-1">A clean and simple interface to organize your favourite website. Open a new browser tab and see your sites load instantly. Try it for free </p>
		<div class="buttons">
			<button class="btn btn-blue">Get it on Chrome</button>
			<button class="btn mx-1">Get it on Firefox</button>
		</div>
	</div>
	<div class="section-a-2">
	</div>
	<div class="blue-round mb-2"></div>
</section>
