<section class="section-d">
	<div class="atas">
		<h1>Frequently Asked Question</h1>
		<p>Here are of some our FAQs. if you have any other questions you'd like answered please feel free to email us.</p>
	</div>
	<div class="tenggah">

		<div class="dropdown mt-2">
			<div id="dropdown-1" class="h3-and-arrow">
				<h3>What is Bookmark ?</h3>
				<svg id="dropdown-1-ikon-kebalik" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="12"><path id="dropdown-1-arrow" class="hover" fill="none" stroke="#5267DF" stroke-width="3" d="M1 1l8 8 8-8"/></svg>
			</div>
			<p id="dropdown-1-content" class="dropdown-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aspernatur, mollitia cupiditate reprehenderit ipsum est dolores impedit, accusamus consequuntur ut illum, unde iste hic dolore placeat deleniti similique quibusdam autem eos molestiae. Ea nostrum, sit, dolore laborum ut ad, voluptatem eius nemo ratione consequatur exercitationem? Ipsum asperiores accusantium, esse pariatur.
			</p>

			<div id="dropdown-2" class="h3-and-arrow">
				<h3>How can i request a new browser ?</h3>
				<svg id="dropdown-2-ikon-kebalik" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="12"><path id="dropdown-2-arrow" class="hover" fill="none" stroke="#5267DF" stroke-width="3" d="M1 1l8 8 8-8"/></svg>
			</div>
			<p id="dropdown-2-content" class="dropdown-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aspernatur, mollitia cupiditate reprehenderit ipsum est dolores impedit, accusamus consequuntur ut illum, unde iste hic dolore placeat deleniti similique quibusdam autem eos molestiae. Ea nostrum, sit, dolore laborum ut ad, voluptatem eius nemo ratione consequatur exercitationem? Ipsum asperiores accusantium, esse pariatur.
			</p>

			<div id="dropdown-3" class="h3-and-arrow">
				<h3>Is there a mobile app ?</h3>
				<svg id="dropdown-3-ikon-kebalik" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="12"><path id="dropdown-3-arrow" class="hover" fill="none" stroke="#5267DF" stroke-width="3" d="M1 1l8 8 8-8"/></svg>
			</div>
			<p id="dropdown-3-content" class="dropdown-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aspernatur, mollitia cupiditate reprehenderit ipsum est dolores impedit, accusamus consequuntur ut illum, unde iste hic dolore placeat deleniti similique quibusdam autem eos molestiae. Ea nostrum, sit, dolore laborum ut ad, voluptatem eius nemo ratione consequatur exercitationem? Ipsum asperiores accusantium, esse pariatur.
			</p>

			<div id="dropdown-4" class="h3-and-arrow">
				<h3>What about other Chromium browser ?</h3>
				<svg id="dropdown-4-ikon-kebalik" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="12"><path id="dropdown-4-arrow" class="hover" fill="none" stroke="#5267DF" stroke-width="3" d="M1 1l8 8 8-8"/></svg>
			</div>
			<p id="dropdown-4-content" class="dropdown-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aspernatur, mollitia cupiditate reprehenderit ipsum est dolores impedit, accusamus consequuntur ut illum, unde iste hic dolore placeat deleniti similique quibusdam autem eos molestiae. Ea nostrum, sit, dolore laborum ut ad, voluptatem eius nemo ratione consequatur exercitationem? Ipsum asperiores accusantium, esse pariatur.
			</p>
		</div>
	</div>

	<div class="bawah mt-3">
		<button class="btn btn-blue">More info</button>	
	</div>
</section>