<section class="section-b mt-7">
	<h1>Features</h1>
	<p class="mb-2">Our aim to make it quick and easy for you to access your favorite website. Your bookmarks sync between your device so you can access them on the go.</p>

	<div class="tabs">
		<p id="tab-1" class="tab tab-active">Simple Bookmarking</p>
		<p id="tab-2" class="tab">Speedy Searching</p>
		<p id="tab-3" class="tab">Easy Sharing</p>
	</div>

	<div id="tab-1-content" class="tab-content mt-4 tab-content-active">
		<div class="tab-1-content-inner">
			<div class="tab-content-a">
				<img src="./images/illustration-features-tab-1.svg" alt="">				
			</div>
			<div class="tab-content-b">
				<h1>Bookmark in one click</h1>
				<p>Organize your bookmarks however you like. Our simple drag-and-drop interface gives you complete control over how manage your favourite sites</p>
				<div class="btn btn-blue">More info</div>
			</div>
			<div class="blue-round"></div>
		</div>
	</div>

	<div id="tab-2-content" class="tab-content mt-4">
		<div class="tab-2-content-inner">
			<div class="tab-content-a">
				<img src="./images/illustration-features-tab-2.svg" alt="">			
			</div>
			<div class="tab-content-b">
				<h1>Intelligent search</h1>
				<p>Our powerful search feature will help you find saved site in no time at all. No need to trawl throught all of your bookmarks</p>
				<div class="btn btn-blue">More info</div>
			</div>
			<div class="blue-round"></div>
		</div>
	</div>

	<div id="tab-3-content" class="tab-content mt-4">
		<div class="tab-3-content-inner">
			<div class="tab-content-a">
				<img src="./images/illustration-features-tab-3.svg" alt="">			
			</div>
			<div class="tab-content-b">
				<h1>Share your bookmarks</h1>
				<p>Easily share bookmarks and collections with oters. Create a shareable link that you can send at the click of a button.</p>
				<div class="btn btn-blue">More info</div>
			</div>
			<div class="blue-round"></div>
		</div>
	</div>
</section>