<section class="section-c">
	<h1>Download the extension</h1>
	<p class="my-2">
		We've got more browsers in the pipeline. Please do let us know if you've got a favourite you'd like us to prioritize.
	</p>
	<div class="cards">
		<div class="card card-1">
			<img src="./images/logo-chrome.svg" alt="">
			<h3>Add to Chrome</h3>
			<span>Minimum version 62</span>
			<img src="./images/bg-dots.svg" alt="">
			<button class="btn btn-blue">Add & Install Extension</button>
		</div>
		<div class="card card-2 mt-3">
			<img src="./images/logo-firefox.svg" alt="">
			<h3>Add to Firefox</h3>
			<span>Minimum version 55</span>
			<img src="./images/bg-dots.svg" alt="">
			<button class="btn btn-blue">Add & Install Extension</button>
		</div>
		<div class="card card-3 mt-6">
			<img src="./images/logo-opera.svg" alt="">
			<h3>Add to Opera</h3>
			<span>Minimum version 46</span>
			<img src="./images/bg-dots.svg" alt="">
			<button class="btn btn-blue">Add & Install Extension</button>
		</div>
	</div>
</section>